:root {
    --text: #e5edea;
    --text-dark: #9ca3af;
    --text-darker: #4e5258;
    --bg: #16171d;
    --bg-light: #1E2028;
    --bg-dark: #0d0e11;
    --select: #414141;
    --link-color: #6f8faf;
    --like-color: #ff0000;
    --delete-color: #ff0000;
    background: var(--bg);
}

::selection {
    background-color: var(--select);
}

img {
    user-select: none;
}

p, b, i, u, li, h1, h2, h3, h4, h5, h6 {
    color: var(--text);
    margin: 0;
}

a {
    color: var(--link-color);
}

button {
    background-color: #242832;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

button:not(:disabled):active {
    background-color: #364044;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    min-height: 100svh;
    flex-direction: column;
    box-sizing: border-box;
}

.no-select {
    user-select: none;
}
